* {
  margin: 0;
  padding: 0;
}

canvas {
  box-shadow: black 25px 25px 50px;
  border-radius: 2%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
h1 {
  margin: 20px;
}
