* {
  margin: 0;
  padding: 0;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("assets/space.png");
  background-size: cover;
}

#start-button {
  position: absolute;
}

#try-again-button {
  position: absolute;
  top: 60%;
}

.button {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: white;
  color: black;
}

canvas {
  box-shadow: black 25px 10px 50px;
  border: 2px solid white;
  border-radius: 2%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #141414;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 20px;
  color: white;
}

h2 {
  margin: 20px;
  color: white;
  z-index: 1;
}

P {
  color: white;
  font-weight: bold;
}
